[submodule ".config/quickshell"]
	path = .config/quickshell
	url = ssh://git@github.com/AamodJ/quickshell-kanagawa.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = ssh://git@github.com/AamodJ/nvim.git
